#go.mod 
#go.sum
go/
__pycache__
gcf/
venv/
test/*
.cache
.git*
tasks
sql/
tmp/
*.sh
*.py
test00
node_modules
*.csv
**/*.pdf
generate*
trigger*
*.txt
*.sql 
Dockerfile
*.py 
logs
sql*
tasks*
test*
tmp*
.vscode*
#src
tax_receipt
builds/
tests/